# Python
__pycache__/
.pytest_cache/
.pyc

# directories
uploads/

# JavaScript
node_modules/


# images
*.jpg
*.jpeg
*.png
*.HEIC

# editor
.vscode/
.idea/

# Miscellaneous
*.log
test_images/*
out_images/

